.title {
    font-size: 40px;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subtitle {
    font-size: 30px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link {
    background-color: blanchedalmond;
}

* {
    background-color: darkmagenta;
}